
.tick > text {
  fill: #000;
  font-size: .8em;
  stroke: none;
}

.timeseries {
  fill: none;
  stroke: #000;
  stroke-width: 1;
}


.point {
  stroke: none;
  fill: none;

  &.visible {
    stroke: #000;
    stroke-width: 2;
  }
}

.tooltip {
  pointer-events: none;
}
