
.tick > text {
  fill: #000;
  stroke: none;
}

.timeseries {
  fill: none;
  stroke: #000;
  stroke-width: 1;
}


.point {
  stroke: none;
  fill: none;

  &.visible {
    stroke: #000;
    stroke-width: 3;
  }
}

.tooltip {
  pointer-events: none;

  text {
    fill: #000;
    stroke: none;
  }
}
