.timeseries {
  > .load {
  display: none;
  }
}

.timeseries.loading {
  position: relative;

  > .load {
    display: inline;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    text-align: center;
    color: #7fae00;
    font-size: larger;
    opacity: 0.8;
  }

}

.title3, .timezone, .timespan {

color: #666;
font-size: 11px;
}
