
.timeseries-selectview {
  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }

  .channel,
  .observatory {
    > a {
      background-color: #eee;
      border: 1px solid #ccc;
      color: #000;
      display: block;
      float: left;
      padding: 8px 0;
      text-align: center;
      text-decoration: none;
      width: 33%;

      &.selected {
        color: #fff;
        background-color: #333;
        font-weight: bold;
      }
    }

    &:after {
      clear: left;
      content: ' ';
      display: block;
    }
  }

  .time {
    margin-bottom: 1em;

    .time-input {
      display: none;

      > input {
        width:100%;
      }
    }

    &.custom .time-input {
      display: block;
    }
  }

  .time-error.error {
    margin-top: 1em;
  }
}
