.timeseries-view {
  position:relative;

  > .meta-view {
    display: block;
    position: absolute;
    text-align: center;
    margin-top: -1.5em;
    top: 50%;
    width: 4em;


    .observatory,
    .channel {
      display: block;
      line-height: 1;
    }

    .units {
      display: inline-block;
      font-size: .8em;
      margin-left: 4px;
    }
  }

  > .trace-view {
    display: block;
    margin-left:4em;
  }

}
