.timeseries-view {
  > .meta-view {
    display: block;
    float: left;
    width: 20%;

    text-align: center;
    padding-top: 1em;
  }

  > .trace-view {
    display: block;
    float: left;
    width: 80%;
  }

  &:after {
    content: ' ';
    display: block;
    clear: left;
  }
}
