.timeseries-view {
  position:relative;
}

.meta-view {
  display: block;
  position: absolute;
  text-align: center;
  margin-top: -1.5em;
  top: 50%;
  width: 4em;


  > .observatory,
  > .channel {
    display: block;
    line-height: 1;
  }
}

.trace-view {
  display: block;
  margin-left:4em;
}
