
@media screen and (max-width: 767px) {
  .timeseries-selectview {
    padding: 0 16px;
  }
}

.timeseries-element,
.timeseries-observatory {

  > a {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #000;
    display: block;
    float: left;
    margin: 0 -1px -1px 0;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 33%;

    &.selected {
      color: #fff;
      background-color: #333;
    }
  }

  &:after {
    clear: left;
    content: ' ';
    display: block;
  }
}

.timeseries-time {
  margin-bottom: 1.5em;
}

.time-error.error {
  margin-top: 1em;
}

.timeseries-increment {
  margin: 0.5em 0 0;

  button {
    font-size: 0.77em;
    padding: 1em 0.5em;
    width: 50%;
  }
}