.timeseries-view {
  position:relative;
  margin: 1em 0 0;
}

.meta-view {
  display: block;
  position: absolute;
  text-align: center;
  margin-top: -1.5em;
  top: 50%;
  width: 4em;


  > .observatory,
  > .channel {
    display: block;
    line-height: 1;
  }
}

.error-view.show,
.trace-view {
  display: block;
  margin-left: 4em;
}

.error-view,
.error-view.show + .trace-view {
  display: none;
}
